@import "~bootstrap/scss/bootstrap";

body {
    background-color: lightgray;
    padding-top: 80px;
}

.index-card-padding {
    margin: 10px;
}

.edit-img {
    width:100% !important;
    height:60% !important;
}